@model UniversitySystem.Models.InstructorDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentInstructor.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentInstructor.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentInstructor.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentInstructor.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentInstructor.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentInstructor.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentInstructor.OfficeAssignment.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentInstructor.OfficeAssignment.Location)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CurrentInstructor.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


@* Courses taught by selected instructor *@

<h3 class="mt-4">Courses Taught by Selected Instructor</h3>
<table class="table">
    <tr>
        <th></th>
        <th>Number</th>
        <th>Title</th>
        <th>Department</th>
    </tr>

    @foreach (var item in Model.CourseTaughtByCurrentInstructor)
    {
        string selectedRow = "";
        if (item.CourseID == (int?)ViewData["CourseID"])
        {
            selectedRow = "table-warning";
        }
        <tr class="@selectedRow">
            <td>
                @Html.ActionLink("Select", "Details", new { courseID = item.CourseID })
            </td>
            <td>
                @item.CourseID
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.Department.Name
            </td>
        </tr>
    }
</table>
@* Students from the selected course *@
@if (Model.AllEnrollmentFromCurrentCourse != null)
{
    <h3 class="mt-4">
        Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.AllEnrollmentFromCurrentCourse)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}